.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  float: left;
  overflow: auto;
}

.third-width {
  width: 400px;
  float: left;
  overflow: auto;
}

.quarter-width {
  width: 25%;
  float: left;
  overflow: auto;
}

#header {
  background-color: #fff;
  height: 750px;
  padding: 0 100px;
}

#about {
  background-color: #171717;
  height: 650px;
  padding: 0 100px;
}

#portfolio {
  background-color: #fff;
  height: 1050px;
  padding: 0 100px;
}

#contact {
  background-color: #171717;
  height: 650px;
  padding: 0 100px;
}

h3  {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 100px;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
  #font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 15px;
  #font-weight: 400;
  letter-spacing: 3px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/***** HEADER *****/

nav {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 50px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #313131;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  padding-left: 25px;
}

nav ul li a:hover {
  color: #F26419;
}

#welcome-text {
  clear: left;
}

#header h1 {
  color: #313131;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  line-height: 60px;
  margin-top: 250px;
  margin-bottom: 10px;
  float: left;
}

#header span {
  color: #F26419;
}

#header .contact-btn {
  background-color: #F26419;
  border: 1px solid #F26419;
  border-radius: 5px;
  color: #fff;
  clear: left;
  float: left;
  letter-spacing: 4px;
  margin: 10px 0;
  padding: 15px 20px;
  text-decoration: none;
}

#header .contact-btn:hover {
  background-color: #fff;
  color: #F26419;
}

#header p {
  color: #313131;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 10px 0 20px 0;
  float: left;
  width: 100%;
}

/***** ABOUT *****/

#about span {
  font-size: 20px;
  font-weight: 400;
}

#about h3, #about h4, #about p {
  color: #fff;
}

#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  padding: 0 40px;
  text-align: left;
}

/***** PORTFOLIO*****/

#portfolio h3, #portfolio h4, #portfolio p {
  color: #313131;
}

.row {
  height: 250px;
}

.img-on-left img {
  margin: 10px 20px 10px auto;
}

.img-on-left h4 {
  margin: 40px auto 10px 20px;
}

.img-on-left p {
  margin-left: 20px;
}

.img-on-right img {
  margin: 10px auto 10px 20px;
}

.img-on-right h4, .img-on-right p {
  text-align: right;
}

.img-on-right h4 {
  margin: 40px 20px 10px auto;
}

.img-on-right p {
  margin-right: 20px;
}

#portfolio img {
  display: block;
  opacity: 0.5;
}

#portfolio img:hover {
  opacity: 0.9;
}

#portfolio p {
  font-size: 22px;
}

/***** CONTACT *****/

#contact h4, #contact h3, #contact p {
  color: #fff;
}

#contact iframe {
  margin: 0 50px;
}

#contact h4 {
  margin: 50px 0 10px 50px;
}

#contact .half-width p {
  margin-left: 50px;
  font-size: 22px;
  letter-spacing: 1px;
}

.footer p {
  clear: both;
  font-size: 18px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}
